.b-page {
    background: #fff;
}
.b-header {
    background: #fff;
    height: 134px;
}
.b-header__wrapper {
    margin: 0 auto;
    position: relative;
    width: 960px;
}
.b-header__title {
    color: #000;
    float: left;
    font: 16px Arial;
    padding-top: 63px;
    width: 40%;
}
.b-header__title-main {}
.b-header__title-secondary {
    color: #959595;
}
.b-header__phone {
    color: #959595;
    float: right;
    font: 16px Arial;
    padding-right: 3px;
    padding-top: 60px;
    text-align: right;
    width: 40%;
}
.b-header__phone-intro {
    background: url('img/b-icon__phone.png') 0 1px no-repeat;
    display: inline-block;
    padding-left: 24px;
}
.b-header__phone-number {
    color: #000;
    display: block;
    font-family: 'Roboto', Arial;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    right: -4px;
    top: -7px;
}
.b-header__logo {
    left: 419px;
    position: absolute;
    top: 30px;
}