.i-clearfix {
    zoom: 1;
}
.i-clearfix:after {
    display: block;
    clear: both;
    height: 0;
    content: " ";
}
.b-page {
    background: #fff;
}
.b-header {
    background: #fff;
    height: 134px;
}
.b-header__wrapper {
    margin: 0 auto;
    position: relative;
    width: 960px;
}
.b-header__title {
    color: #000;
    float: left;
    font: 16px Arial;
    padding-top: 63px;
    width: 40%;
}
.b-header__title-main {}
.b-header__title-secondary {
    color: #959595;
}
.b-header__phone {
    color: #959595;
    float: right;
    font: 16px Arial;
    padding-right: 3px;
    padding-top: 60px;
    text-align: right;
    width: 40%;
}
.b-header__phone-intro {
    background: url('img/b-icon__phone.png') 0 1px no-repeat;
    display: inline-block;
    padding-left: 24px;
}
.b-header__phone-number {
    color: #000;
    display: block;
    font-family: 'Roboto', Arial;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    right: -4px;
    top: -7px;
}
.b-header__logo {
    left: 419px;
    position: absolute;
    top: 30px;
}


.b-slider {}
.b-slider-brands {
    background: #f4f4f4;
    font-family: 'Roboto', Arial;
    height: 541px;
}
.b-slider-brands__wrapper {
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    width: 960px;
}
.b-slider-brands__title {
    border-bottom: 1px solid #ebebeb;
    color: #000;
    font-size: 30px;
    font-weight: normal;
    line-height: 36px;
    margin-bottom: 20px;
    margin-top: 7px;
    padding-bottom: 25px;
    text-transform: uppercase;
}
.b-slider-brands__text {
    color: #959595;
    font-size: 18px;
    line-height: 22px;
    margin-top: 23px;
}
.b-slider-loyality {
    background: #373737 url('img/b-bg_color_gray.png');
    height: 420px;
}
.b-slider-loyality__wrapper {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}
.b-slider-loyality__title {
    color: #fff;
    font-family: 'Roboto', Arial;
    font-size: 30px;
    font-weight: normal;
    padding-top: 357px;
    text-align: center;
    text-transform: uppercase;
}
.b-slider-slider {
    position: absolute;
}

.b-features {
    background: #fff;
}
.b-features__bg_dark {
    background: #373737 url('img/b-bg_color_gray.png');
}
.b-features__wrapper {
    height: 169px;
    margin: 0 auto;
    width: 960px;
}
.b-features__block {
    float: left;
    height: 119px;
    padding-left: 122px;
    padding-right: 100px;
    padding-top: 50px;
    width: 258px;
}
.b-features__block__icon_calendar {
    background: url('img/b-icon__calendar.png') 0 36px no-repeat;
}
.b-features__block__icon_star {
    background: url('img/b-icon__star.png') 14px 36px no-repeat;
    padding-left: 135px;
    width: 245px;
}
.b-features__block__icon_car {
    background: url('img/b-icon__car.png') -2px 41px no-repeat;
    height: 124px;
    padding-top: 45px;
}
.b-features__block__icon_message {
    background: url('img/b-icon__message.png') 16px 44px no-repeat;
    height: 124px;
    padding-left: 135px;
    padding-top: 45px;
    width: 245px;
}
.b-features__block-title {
    color: #000;
    font-family: Arial;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 12px;
}
.b-features__bg_dark .b-features__block-title {
    color: #fff;
}
.b-features__block-text {
    color: #000;
    font-family: Arial;
    font-size: 14px;
    line-height: 17px;
}
.b-features__bg_dark .b-features__block-text {
    color: #fff;
}

.b-catalog {}
.b-catalog__wrapper {
    margin: 0 auto;
    padding-top: 20px;
    width: 960px;
}
.b-catalog__title {
    color: #000;
    font-family: 'Roboto', Arial;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 16px;
    margin-top: 24px;
    text-align: center;
    text-transform: uppercase;
}
.b-catalog__subtitle {
    color: #959595;
    font-family: 'Roboto', Arial;
    font-size: 18px;
    text-align: center;
    margin-bottom: 39px;
}
.b-catalog__item {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    float: left;
    padding-top: 22px;
    text-align: center;
    width: 479px;
}
.b-catalog__item_border_bottom {
    border-bottom: 1px solid #ebebeb;
}
.b-catalog__item_border_right {
    border-right: 1px solid #ebebeb;
}
.b-catalog__item_indent_top {
    padding-top: 57px;
}
.b-catalog__item-photo {}
.b-catalog__item-title {
    color: #000;
    font-family: 'Roboto', Arial;
    font-size: 24px;
    font-weight: normal;
    display: block;
    margin-bottom: 8px;
    margin-top: 21px;
}
.b-catalog__item-description {
    color: #959595;
    font-family: 'Roboto', Arial;
    font-size: 18px;
    line-height: 22px;
}
.b-catalog__item-info {
    background: url('img/b-bg_arrow.png') 148px 53px no-repeat;
    margin-top: 14px;
    padding-bottom: 100px;
}
.b-catalog__item-price {
    color: #000;
    display: inline-block;
    font-family: 'Roboto', Arial;
    font-size: 24px;
    padding-right: 32px;
    padding-top: 23px;
}
.b-catalog__item-more {
    display: inline-block;
    height: 38px;
    overflow: hidden;
    position: relative;
    right: 8px;
    text-indent: -9999px;
    top: 10px;
    width: 183px;
}
.b-catalog__item-more_bg_yellow {
    background: url('img/b-button_more_yellow.png') no-repeat;
}
.b-catalog__item-more_bg_red {
    background: url('img/b-button_more_red.png') no-repeat;
}
.b-catalog__item-more_bg_blue {
    background: url('img/b-button_more_blue.png') no-repeat;
}
.b-catalog__item-more_bg_green {
    background: url('img/b-button_more_green.png') no-repeat;
}
.b-catalog__item-more:hover {
    background-position: 0 -38px;
}

.b-choose {
    background: #f4f4f4;
    margin-top: 43px;
}
.b-choose__wrapper {
    height: 183px;
    margin: 0 auto;
    padding-left: 296px;
    padding-top: 32px;
    position: relative;
    width: 664px;
}
.b-choose__image {
    left: 85px;
    position: absolute;
    top: -56px;
}
.b-choose__title {
    color: #000;
    font-family: 'Roboto', Arial;
    font-size: 30px;
    font-weight: normal;
    padding-left: 3px;
    text-transform: uppercase;
}
.b-choose__subtitle {
    color: #000;
    font-family: 'Roboto', Arial;
    font-size: 18px;
    margin-top: 14px;
    padding-left: 5px;
}
.b-choose__description {
    color: #959595;
    font-family: Arial;
    font-size: 14px;
    margin-top: 14px;
    padding-left: 5px;
}
.b-choose__form {
    margin-top: 21px;
}
.b-choose__field {
    background: url('img/b-button_bg.png') no-repeat;
    border: 0;
    color: #9b9b9b;
    font-family: Arial;
    font-size: 16px;
    height: 45px;
    margin-right: 7px;
    padding: 5px 0 0 31px;
    width: 195px;
}
.b-choose__field_data_name {
    background: url('img/b-icon__name_size_small.png') 12px 18px no-repeat, url('img/b-button_bg.png') 0 0 no-repeat;
}
.b-choose__field_data_phone {
    background: url('img/b-icon__phone_size_small.png') 12px 18px no-repeat, url('img/b-button_bg.png') 0 0 no-repeat;
    margin-right: 5px;
}
.b-choose__field-submit {
    background: url('img/b-button__choose.png') no-repeat;
    border: 0;
    cursor: pointer;
    height: 52px;
    text-indent: -9999px;
    width: 192px;
}
.b-choose__field-submit:hover {
    background-position: 0 -52px;
}

.b-benefits {
    background: #fff;
    margin-top: 30px;
}
.b-benefits__wrapper {
    margin: 0 auto;
    width: 960px;
}
.b-benefits__title {
    color: #000;
    font-family: 'Roboto', Arial;
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 2px;
    padding-top: 22px;
    text-align: center;
    text-transform: uppercase;
}
.b-benefits__item {
    background-color: #f4f4f4;
    margin-top: 39px;
    padding-bottom: 39px;
    padding-left: 299px;
    padding-right: 25px;
    padding-top: 31px;
}
.b-benefits__item_bg_cup {
    background: #f4f4f4 url('img/b-icon__benefits-cup.png') 68px 30px no-repeat;
}
.b-benefits__item_bg_bag-open {
    background: #f4f4f4 url('img/b-icon__benefits-bag-open.png') 59px 36px no-repeat;
    padding-top: 32px;
}
.b-benefits__item_bg_bag-close {
    background: #f4f4f4 url('img/b-icon__benefits-bag-close.png') 94px 28px no-repeat;
    padding-top: 25px;
}
.b-benefits__item-title {
    font-family: Arial;
    font-size: 24px;
    font-weight: normal;
}
.b-benefits__item-text {
    font-family: Arial;
    font-size: 14px;
    line-height: 17px;
    margin-top: 16px;
}

.b-about {
    background: #373737 url('img/b-bg_color_gray.png');
    color: #fff;
    margin-top: 55px;
}
.b-about__wrapper {
    background: url('img/b-bg__about.png') 14px 22px no-repeat;
    margin: 0 auto;
    padding-bottom: 31px;
    padding-left: 308px;
    padding-top: 38px;
    width: 652px;
}
.b-about__title {
    font-family: 'Roboto', Arial;
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 13px;
    text-transform: uppercase;
}
.b-about__subtitle {
    font-family: Arial;
    font-size: 24px;
    font-weight: normal;
    margin-top: 22px;
}
.b-about__text {
    font-family: Arial;
    font-size: 14px;
    line-height: 17px;
    margin-top: 16px;
}