.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
ul {
  list-style-image: url('img/icon_tick.png');
  list-style-position: inside;
}
li {
  margin-bottom: .4em;
}
.main {
  padding: 10px 30px;
  margin: 0 auto;
  max-width: 800px;
}
.main__title {
  margin-bottom: 60px;
  text-align: center;
}
.about__icon {
  float: left;
  margin: 0 40px 10px;
}
.about__text {
  margin-bottom: 80px;
}
.knowledge__icon {
  clear: both;
  float: right;
  margin: 80px 40px 20px;
}
.knowledge__list {
  margin-bottom: 80px;
}
.knowledge-additional__icon {
  clear: both;
  float: left;
  margin: 40px 40px 10px 30px;
}
.hr-line {
  margin-bottom: 80px;
}
.education__icon {
  float: right;
  margin: 0 40px 10px 30px;
}
.education__list {
  margin-bottom: 80px;
}
.courses__list {
  margin-bottom: 80px;
}
.jobs__icon {
  float: right;
  margin: 20px 40px 10px 30px;
}
.works__title {
  margin-bottom: 30px;
  margin-top: 100px;
}
.codeschool {
  list-style: none;
  margin: 22px 0 0;
  padding: 0;
}
.codeschool__item {
  float: left;
  min-height: 180px;
  text-align: center;
  width: 200px;
}
.codeschool__badge {
  display: block;
  margin: 0 auto;
  width: 118px;
}
.portfolio {
  list-style: none;
  margin-bottom: 20px;
}
.portfolio__item {
  display: block;
  float: left;
  margin-bottom: 20px;
  min-height: 200px;
  text-align: center;
  width: 50%;
}
.portfolio__preview {
  border: 1px solid #ebebeb;
  display: block;
  margin: 0 auto 12px;
  max-width: 100%;
  -webkit-transition: opacity .8s ease;
  -moz-transition: opacity .8s ease;
  transition: opacity .8s ease;
}
.portfolio__preview:hover {
  opacity: 0.6;
}