@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/myriadpro-cond.eot');
	src: url('../fonts/myriadpro-cond.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/myriadpro-cond.woff') format('woff'),
		 url('../fonts/myriadpro-cond.ttf') format('truetype'),
		 url('../fonts/myriadpro-cond.svg#PFDinDisplayProBold') format('svg');
	font-weight: normal;
	font-style: normal;
}