/* common styles */
body {
	color: #666;
	font: 14px/20px Verdana, Tahoma, Arial, Helvetica, sans-serif;
}
.i-clearfix:before,
.i-clearfix:after {
	content: "";
	display: table;
}
.i-clearfix:after {
	clear: both;
}
.i-clearfix {
	zoom: 1;
}
/* blocks */
.b-topline {
	background: url('img/b-topline_bg.png') repeat-x;
	height: 86px;
}
.b-topline__wrapper {
	margin: 0 auto;
	position: relative;
	width: 960px;
}
.b-topline__menu {
	line-height: 30px;
	padding-top: 37px;
	position: absolute;
	width: 345px;
}
.b-topline__menu_align_left {
	top: 0;
	left: 0;
	width: 370px;
}
.b-topline__menu_align_right {
	text-align: right;
	top: 0;
	right: 0;
}
.b-topline__menu-item {
	background: url('img/b-icons.png') no-repeat;
	color: #fff;
	display: inline-block;
	font: 20px 'Myriad Pro', Verdana, Tahoma, Arial, Helvetica, sans-serif;
	letter-spacing: 0.096em;
	padding-left: 35px;
	text-decoration: none;
	text-transform: uppercase;
}
.b-topline__menu-item_icon_about {
	background-position: 1px 1px;
	padding-left: 37px;
}
.b-topline__menu-item_icon_about:hover {
	background-position: 1px 0px;
}
.b-topline__menu-item_icon_partners {
	background-position: 0 -31px;
	letter-spacing: 0.168em;
	margin-left: 68px;
	padding-left: 32px;
}
.b-topline__menu-item_icon_partners:hover {
	background-position: 0 -32px;
}
.b-topline__menu-item_icon_delivery {
	background-position: 0 -62px;
	letter-spacing: 0.182em;
	margin-right: 47px;
	padding-left: 38px;
}
.b-topline__menu-item_icon_delivery:hover {
	background-position: 0 -63px;
}
.b-topline__menu-item_icon_contacts {
	background-position: 0 -95px;
	margin-right: -2px;
	padding-left: 32px;
}
.b-topline__menu-item_icon_contacts:hover {
	background-position: 0 -96px;
}
.b-topline__logo {
	left: 50%;
	margin-left: -96px;
	position: absolute;
	top: 27px;
	width: 250px;
	z-index: 11;
}

.b-slider {
	background: #0080a2 url('img/b-slider_bg.png') repeat-x;
	height: 426px;
	position: relative;
	z-index: 10;
}
.b-slider__inner {
	height: 426px;
	margin: 0 auto;
	position: relative;
	width: 960px;
}
.b-slider__wrapper {
	height: 426px;
	left: 0;
	position: absolute;
	top: 0;
	width: 960px;
}
.b-slider__wrapper_bg_1 {
	background: url('../img/slider_1.png') no-repeat;
}
.b-slider__wrapper_bg_2 {
	background: url('../img/slider_2.png') no-repeat;
	opacity: 0;
}
.b-slider__wrapper_bg_3 {
	background: url('../img/slider_3.png') no-repeat;
	opacity: 0;
}
.b-slider__filter {
	z-index: 20;
}

.b-catalog {
	background: url('img/b-catalog_bg.png') repeat-x 0 35px;
	height: 226px;
	left: 0;
	position: relative;
	top: -67px;
}
.b-catalog__wrapper {
	margin: 0 auto;
	width: 960px;
}
.b-catalog__list {
	width: 960px;
}
.b-catalog__list-item {
	color: #287f9f;
	display: block;
	float: left;
	font-family: 'Myriad Pro', Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 20px;
	padding-bottom: 15px;
	text-align: center;
	width: 240px;
}
.b-catalog__list-item:hover {
	background: rgb(240,249,255,0.75);
	background: -moz-linear-gradient(top,  rgba(240,249,255,0.75) 0%, rgba(203,235,255,0.75) 47%, rgba(165,196,208,0.75) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,0.75)), color-stop(47%,rgba(203,235,255,0.75)), color-stop(100%,rgba(165,196,208,1)));
	background: -webkit-linear-gradient(top,  rgba(240,249,255,0.75) 0%,rgba(203,235,255,0.75) 47%,rgba(165,196,208,0.75) 100%);
	background: -o-linear-gradient(top,  rgba(240,249,255,0.75) 0%,rgba(203,235,255,0.75) 47%,rgba(165,196,208,0.75) 100%);
	background: -ms-linear-gradient(top,  rgba(240,249,255,0.75) 0%,rgba(203,235,255,0.75) 47%,rgba(165,196,208,0.75) 100%);
	background: linear-gradient(to bottom,  rgba(240,249,255,0.75) 0%,rgba(203,235,255,0.75) 47%,rgba(165,196,208,0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a5c4d0',GradientType=0 );
}
.b-catalog__list-item-link {
	color: #287f9f;
	display: block;
	font-size: 23px;
	line-height: 52px;
	text-decoration: none;
}
.b-catalog__list-item:hover .b-catalog__list-item-link {
	color: #444444;
}
.b-catalog__list-item-image {
	display: block;
	margin: 0 auto;
	position: relative;
	z-index: 21;
}
.b-main {
	left: 0;
	margin-bottom: -42px;
	position: relative;
	top: -42px;
}
.b-main__wrapper {
	margin: 0 auto;
	width: 960px;
}
.b-content {
	float: left;
	margin-right: 20px;
	width: 662px;
}
.b-content__title {
	border-bottom: 1px solid #fb983b;
	color: #287f9f;
	font: 26px 'Myriad Pro', Verdana, Tahoma, Arial, Helvetica, sans-serif;
	margin-bottom: 22px;
	padding-bottom: 5px;
}
.b-content__content {
	color: #666666;
	font: 14px/20px Verdana, Tahoma, Arial, Helvetica, sans-serif;
}
.b-content__text {
	margin-bottom: 20px;
}
.b-sidebar {
	float: left;
	padding-left: 8px;
	width: 270px;
}
.b-sidebar__title {
	border-bottom: 1px solid #fb983b;
	color: #287f9f;
	font: 26px 'Myriad Pro', Verdana, Tahoma, Arial, Helvetica, sans-serif;
	margin-bottom: 5px;
	padding-bottom: 5px;
	text-transform: uppercase;
}
.b-sidebar__content {
	padding-top: 4px;
}
.b-news-anounce {
	margin-bottom: 26px;
}
.b-news-announce__photo {
	float: left;
	margin: 3px 20px 0 0;
}
.b-news-announce__link {
	color: #297f9f;
	font: 16px/18px 'Myriad Pro', Verdana, Tahoma, Arial, Helvetica, sans-serif;
	letter-spacing: 0.18em;
	text-decoration: none;
	text-transform: uppercase;
}
.b-news-announce__link:hover {
	color: #fb983b;
	text-decoration: none;
}
.b-news-announce__description {
	color: #666;
	font: 13px/14px Verdana, Tahoma, Arial, Helvetica, sans-serif;
	margin-top: 3px;
}
.b-news-link {
	color: #297f9f;
	font: 20px 'Myriad Pro', Verdana, Tahoma, Arial, Helvetica, sans-serif;
	letter-spacing: 0.126em;
	text-decoration: none;
}
.b-news-link:hover {
	color: #fb983b;
}
.b-partners {
}
.b-partners__title {
	border-bottom: 1px solid #fb983b;
	color: #297f9f;
	font: 26px 'Myriad Pro', Verdana, Tahoma, Arial, Helvetica, sans-serif;
	margin-bottom: 25px;
	padding-bottom: 5px;
	position: relative;
}
.b-partners__content {
	margin-left: -20px;
	text-align: justify;
	vertical-align: baseline;
	width: 960px;
}
.b-partners__content img {
	margin-left: 20px;
}
.b-partners__arrow {
	background: url('img/b-arrows.png') no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 23px;
	position: absolute;
	width: 24px;
}
.b-partners__arrow_dir_left {
	top: 5px;
	right: 24px;
}
.b-partners__arrow_dir_left:hover {
	background-position: 0 -23px;
}
.b-partners__arrow_dir_right {
	background-position: -24px 0;
	top: 5px;
	right: 0;
}
.b-partners__arrow_dir_right:hover {
	background-position: -24px -23px;
}

.b-footer {
	background: url('img/b-footer_bg.png') repeat-x;
	height: 66px;
	margin-top: 40px;
	padding-top: 208px;
}
.b-footer__wrapper {
	margin: 0 auto;
	width: 960px;
}
.b-footer__column {
	width: 350px;
	vertical-align: bottom;
}
.b-footer__column img {
	vertical-align: bottom;
}
.b-footer__column_align_left {
	float: left;
}
.b-footer__column_align_right {
	float: right;
	text-align: right;
}
.b-footer__text {
	background: #287f9f;
	color: #fff;
	display: inline-block;
	font: 12px/36px Verdana, 'Myriad Pro', Tahoma, Arial, Helvetica, sans-serif;
	padding: 0 37px 0 8px;
}
.b-footer__text:hover {
	background: #ff9a1c;
}
.b-footer__text_align_right {
	padding: 0 8px 0 20px;
}

/* html & css by Max FladeX Istlyaev */
/* http://fladex.ru/ */