html, body {
  height: 100%;
}
.page {
  background: #b9b2ac url('../img/bg.jpg') center 0 no-repeat;
}
.sidebar {
  min-height: 100%;
  padding-bottom: 56px;
}
.logo {
  padding: 0;
}
.logo__image {
  padding: 0;
}
.language {
  font-family: 'Calibri', Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  padding: 22px 0 0 5px;
}
.language__switch {
  background: url('../img/icon_arrow_ltr.png') 0 -4px no-repeat;
  color: #5c5b5b;
  display: inline-block;
  font-family: 'Calibry';
  font-size: 14px;
  padding-left: 20px;
}
.language__switch_state_active {
  background: none;
}
.language__switch_lang_ru {}
.language__switch_lang_en {}
.language__switch-link {
  border-bottom: 1px solid #8e8d8c;
  color: #8e8d8c;
  text-decoration: none;
}
.language__switch-link:hover {
  border-bottom: none;
  text-decoration: none;
}
.language__switch-link_state_active {
  border-bottom: 1px solid #5c5b5b;
  color: #5c5b5b;
}
.language__switch-link_state_active:hover {

}
.menu {
  padding: 14px 0 0 6px;
}
.menu__list {}
.menu__item {
  font-family: Gabriola;
  font-size: 27px;
  line-height: 37px;
}
.menu__link {
  color: #8d8e8c;
  display: inline-block;
  padding-right: 26px;
  text-decoration: none;
}
.menu__link:hover {
  color: #434343;
  text-decoration: none;
}
.menu__link_state_active {
  background: url('../img/icon_big_arrow_ltr.png') 100% 10px no-repeat;
  color: #434343;
}
.cart {
  color: #8e8d8c;
  margin-left: 41px;
  margin-top: 17px;
  position: relative;
}
.cart__icon {
  background: url('../img/icon_cart.png') 0 0 no-repeat;
  display: block;
  height: 28px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 31px;
}
.cart:hover .cart__icon, .cart__icon:hover {
  background-position: -31px 0;
}
.cart__item {
  font-family: 'Calibri', Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 14px;
  line-height: 12px;
  margin-left: 43px;
}
.cart__price {
  font-family: Gabriola;
  font-size: 26px;
  line-height: 24px;
  margin-left: 43px;
}
.banner {
  color: #40784b;
  font-family: Gabriola;
  font-size: 24px;
  left: -27px;
  margin-top: 27px;
  position: relative;
}
.banner__image {}
.banner__price {
  font-size: 44px;
  line-height: 20px;
  left: 175px;
  position: absolute;
  top: 103px;
}
.banner__currency {
  font-size: 24px;
  left: 19px;
  position: relative;
  top: 7px;
}
.footer__wrapper {
  position: relative;
}
.footer {
  height: 56px;
  left: 0;
  position: absolute;
  top: -56px;
  width: 100%;
}
.footer__social {
  background: url('../img/bg_social.png') no-repeat;
  float: left;
  height: 33px;
  padding-left: 20px;
  padding-right: 6px;
  padding-top: 23px;
  width: 130px;
}
.footer__social-link {
  background-image: url('../img/icon_social.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 24px;
  width: 24px;
}
.footer__social-link_icon_vk {
  background-position: 0 0;
}
.footer__social-link_icon_vk:hover {
  background-position: 0 -24px;
}
.footer__social-link_icon_facebook {
  background-position: -23px 0;
}
.footer__social-link_icon_facebook:hover {
  background-position: -23px -24px;
}
.footer__social-link_icon_odnoklassniki {
  background-position: -50px 0;
}
.footer__social-link_icon_odnoklassniki:hover {
  background-position: -50px -24px;
}
.footer__social-link_icon_pinterest {
  background-position: -72px 0;
}
.footer__social-link_icon_pinterest:hover {
  background-position: -72px -24px;
}
.footer__copyright {
  color: #5c5b5b;
  font-family: 'Calibri', Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 14px;
  padding-top: 16px;
}
.footer__copyright-years {
  display: block;
  font-size: 15px;
  line-height: 16px;
}
.content {}
.content__title {
  color: #40784b;
  font-family: Gabriola;
  font-size: 44px;
  font-weight: normal;
  line-height: 50px;
  margin-bottom: 26px;
}
.content__subtitle {
  color: #434343;
  font-family: Gabriola;
  font-size: 44px;
  font-weight: normal;
  line-height: 50px;
  margin-bottom: 26px;
}
.content__text {
  color: #434343;
  font-family: Gabriola;
  font-size: 20px;
  line-height: 19px;
  margin-bottom: 18px;
}
.content__gallery {
  margin: 38px 0 13px -1px;
}
.content__gallery-column {
  float: left;
}
.content__gallery-column_col_first {
  margin-right: 6px;
  width: 186px;
}
.content__gallery-column_col_second {
  margin-right: 6px;
  width: 316px;
}
.content__gallery-column_col_third {
  width: 104px;
}
.content__gallery-image {
  margin-bottom: 6px;
  opacity: 0.3;
}